<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526645762134-aud7ftmbuvshgokh4bvjktqkdn3la4au.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526645762134-aud7ftmbuvshgokh4bvjktqkdn3la4au</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>526645762134-i04amigtngtjko786uvlo91o89lhju8b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYiayukJ7JM0vCUBbrjhMxSUP41gjON04</string>
	<key>GCM_SENDER_ID</key>
	<string>526645762134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappFlutterUi</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-f288b</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-f288b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526645762134:ios:7e20e0fb08b4eec8d383f7</string>
</dict>
</plist>